
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
        Book Appointment
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="appointment" >

    <div  *ngIf="isListings" >
        <ion-card *ngFor="let shop of listngs, let i = index">
            <ion-card-content>
                <ion-card-header >
                    {{ shop.title }} 
                </ion-card-header >
                <ion-thumbnail >
                    <img src="{{ webRootPath }}uploads/classified/{{shop.classified_image}}" alt="">
                </ion-thumbnail>
                <span><small>{{ shop.short_description }}</small></span>
                <ion-label><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ shop.address }}</small></ion-label>            
                <ion-label><small><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ shop.email }}</small></ion-label>            
                <ion-label><small><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ shop.phone }}</small></ion-label>            

                <button ion-button (click)="bookAppointment(i)">Book Appointment</button>

            </ion-card-content>

        </ion-card>

    </div>


    <div *ngIf="!isListings">

        <button ion-button *ngIf="!isListings" 
            style="margin-right: 5px; display: inline; width: auto; float: right; "  
            (click)="backToListings()">Back</button>
        <!--<div class="clear"></div>-->

        <div padding ></div>

        <ion-list no-lines >
            <ion-item>
                <ion-label floating>To</ion-label>
                <ion-input type="text" [(ngModel)]="sendTo" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Your Email</ion-label>
                <ion-input type="text" [(ngModel)]="email" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Your phone no</ion-label>
                <ion-input type="text" [(ngModel)]="phone" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Date</ion-label>
                <ion-input type="date" [(ngModel)]="date" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked >Arrival Time</ion-label>
                <ion-input type="time" [(ngModel)]="arrivalTime" ></ion-input>
            </ion-item>
        </ion-list>

        <br />
        
        <button (click)="send()">send</button>

    </div>

</ion-content>