
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Nail Care
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="nailcare" >



        <ion-card *ngFor="let center of nailcareCenters, let i = index">
            <ion-card-content>
                <ion-card-header >
                    {{ center.title }} 
                </ion-card-header >
                <ion-thumbnail >
                    <img src="{{ webRootPath }}uploads/classified/{{center.classified_image}}" alt="">
                </ion-thumbnail>
                <ion-label><small>{{ center.short_description }}</small></ion-label>
                <ion-label><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ center.address }}</small></ion-label>            
                <ion-label><small><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ center.email }}</small></ion-label>            
                <ion-label><small><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ center.phone }}</small></ion-label>            
                 <p class="star-rating"><small><b>Rating: &nbsp;</b>
                    <span >
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </small></p>
            </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let center of nailcareCentersNoPayment, let i = index">
            <ion-card-content>
                <ion-card-header >
                    {{ center.title }} 
                </ion-card-header >
                <ion-thumbnail >
                    <img src="{{ webRootPath }}uploads/classified/{{center.classified_image}}" alt="">
                </ion-thumbnail>
                <ion-label><small>{{ center.short_description }}</small></ion-label>
                <ion-label><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ center.address }}</small></ion-label>            
                <ion-label><small><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ center.email }}</small></ion-label>            
                <ion-label><small><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ center.phone }}</small></ion-label>            
                 <p class="star-rating"><small><b>Rating: &nbsp;</b>
                    <span >
                        <i class="fa {{ (3 >= 1) ? 'fa-star' : 'fa-star-o' }}"></i>
                        <i class="fa {{ (3 >= 2) ? 'fa-star' : 'fa-star-o' }}"></i>
                        <i class="fa {{ (3 >= 3) ? 'fa-star' : 'fa-star-o' }}"></i>
                        <i class="fa {{ (3 >= 4) ? 'fa-star' : 'fa-star-o' }}"></i>
                        <i class="fa {{ (3 >= 5) ? 'fa-star' : 'fa-star-o' }}"></i>
                    </span>
                </small></p>
            </ion-card-content>
        </ion-card>





</ion-content>