.barber-shool{

    img{
        width: 30%;
        height: 30%;
        margin: 0 auto;
    }

    ionic-card, .card-md{
        box-shadow: none;
    }

    .alert-radio-group button{
        color: #333333;
    }

}

button{
    color: #333333;
}