
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Barber School
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="barber-shool" >

    <ion-card>
        <img src="../../assets/img/barbershop_logo.jpg" alt="" >
    </ion-card>

    <div padding ></div>
    
    <ion-list> 
        <ion-item >
            <ion-label>Country</ion-label>
            <ion-select [(ngModel)]="selectedCountryIndex" 
                (ionChange)="getState()" >
                <ion-option *ngFor="let country of countries, let i = index" 
                    value="{{ i }}">{{ country }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>State</ion-label> 
            <ion-select [(ngModel)]="selectedStateIndex" >
                <ion-option value="-1">Select State</ion-option>
                <ion-option *ngFor="let state of states, let i = index"
                 value="{{ i }}">{{ state }}</ion-option>
            </ion-select>
        </ion-item> 
        
        <ion-item>
            <ion-label style="color: #333" >View all</ion-label>
            <ion-checkbox [(ngModel)]="toViewAll" 
                style="margin: 9px;"></ion-checkbox>
        </ion-item>

    </ion-list>

    <br />
    <button (click)="gotoListsPage()" ion-button
         ><i class="fa fa-search"></i> &nbsp; {{ toViewAll? 'View all' : 'search' }}</button>

</ion-content>