
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      List of Barbing School
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="barber-school-list" >

        <ion-card *ngFor="let school of schools, let i = index">
            <ion-card-content>
                <ion-card-header >
                    {{ school.title }} 
                </ion-card-header >
                <ion-thumbnail >
                    <img src="{{ webRootPath }}uploads/classified/{{school.classified_image}}" alt="">
                </ion-thumbnail>
                <ion-label><small>{{ school.short_description }}</small></ion-label>
                <ion-label><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ school.address }}</small></ion-label>            
                <ion-label><small><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ school.email }}</small></ion-label>            
                <ion-label><small><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ school.phone }}</small></ion-label>            

            </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let school of schoolsNoPayment, let i = index">
            <ion-card-content>
                <ion-card-header >
                    {{ school.title }} 
                </ion-card-header >
                <ion-thumbnail >
                    <img src="{{ webRootPath }}uploads/classified/{{school.classified_image}}" alt="">
                </ion-thumbnail>
                
                <ion-label><small>{{ school.short_description }}</small></ion-label>
                <ion-label><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ school.address }}</small></ion-label>            
                <ion-label><small><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ school.email }}</small></ion-label>            
                <ion-label><small><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ school.phone }}</small></ion-label>            

            </ion-card-content>

        </ion-card>

</ion-content>