
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Services and Products
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="post-rent-space" >

    <div padding ></div>

    <ion-list>
        <ion-item>
            <div><ion-label >Listing</ion-label></div>
            <ion-select [(ngModel)]="listingID">
                <ion-option *ngFor="let l of listingIDArr" 
                    value="{{ l.listing_data_id }}" >{{ l.title }}</ion-option>
            </ion-select>
        </ion-item>
       
        <ion-item>
            <div><ion-label>Services And Products</ion-label></div>
            <ion-select [(ngModel)]="servicesAndProducts">
                <ion-option *ngFor="let sp of servicesAndProductsArr" 
                    value="{{ sp.name }}" >{{ sp.name }}</ion-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
            <div><ion-label >Price</ion-label></div>
            <ion-input type="text" [(ngModel)]="price" placeholder="Amount" ></ion-input>
        </ion-item>
        
    </ion-list>

    <div padding ></div>

    <button (click)="sendData()">Send</button>

</ion-content>