
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Search
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="search" >

    <div *ngIf="!showSearchResults" >

        <div padding ></div>
        <ion-list no-lines >
            <ion-item>
                <ion-label floating>Barbershop name</ion-label>
                <ion-input type="text" [(ngModel)]="shopName" ></ion-input>
            </ion-item>

        <!--<div style="position: relative" >-->
            <ion-item>
                <ion-label class="inline" >Select Country</ion-label>
                <ion-select [(ngModel)]="selectedCountry" >
                    <ion-option value="">Select Country</ion-option>
                    <ion-option *ngFor="let country of countries, let i = index" 
                        value="{{ country }}">{{ country }}</ion-option>
                </ion-select>
            </ion-item>
        <!--</div>-->

            <ion-item >
                <ion-checkbox id="near_me" [(ngModel)]="nearMe" ></ion-checkbox>
                <ion-label for="near_me">near me</ion-label>
            </ion-item>
        </ion-list>

        <div padding ></div>
        <button ion-button (click)="search()">
            <i class="fa fa-search fa-fw"></i> &nbsp; Search</button>

    </div>


    <ion-list *ngIf="showSearchResults" id="search-results" >
        <ion-item *ngFor="let shop of shops, let i = index" >
            <ion-thumbnail item-left>
                <img src="" alt="" >
            </ion-thumbnail>
            <h2>{{ shop.title }}</h2>
            <p><small><i class="fa fa-map-marker"></i> {{ shop.address }}</small></p>
            <p><small><i class="fa fa-phone"></i> {{ shop.contact_phone }}</small></p>
        </ion-item>
    </ion-list>

</ion-content>