
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      View Listing
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="view_listing" >
    
    <ion-list no-lines >
        
        <ion-item *ngFor="let l of allPostedJobs; let i = index" >
            <ion-card>
                <ion-card-header>
                    {{ l.title }}
                </ion-card-header>
                <ion-card-content>
                    <div><small>{{ l.short_description }}</small></div>
                    <p><span><i class="fa fa-phone"></i></span> <span>{{ l.phone }}</span></p>
                    <p><span><i class="fa fa-envelope-o"></i></span> <span>{{ l.email }}</span></p>
                    <p><span><b>Website: </b></span> <span>{{ l.website }}</span></p>

                    <div [ngSwitch]="l.status" >
                        <p *ngSwitchCase="1"><span><b>Status: </b></span> <span>{{ 'Approved' }}</span></p>
                        <p *ngSwitchCase="0"><span><b>Status: </b></span> <span>{{ 'Pending' }}</span></p>
                        <p *ngSwitchDefault ><span><b>Status: </b></span> <span>{{ 'Suspended' }}</span></p>
                    </div>

                </ion-card-content>

            </ion-card>

        </ion-item>        

    </ion-list>

</ion-content>