
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Advertising
    </ion-title>  
  </ion-navbar>
</ion-header>
  
<ion-content padding class="listing" >

    <ion-grid > 
        <ion-row wrap  (click)="openDetails(i)"
                *ngFor="let advert of allAdvert; let i = index" center > 
            <ion-col width-80 center >
                <h1 text-center>{{ advert.pname }}</h1>
                <div padding>
                    <h2 text-center>${{ advert.price }}/{{ advert.billing_period}}</h2>
                </div>                        
            </ion-col>
            <!--<ion-col width-50 *ngIf="(i%2 == 1)" >
                <h1 text-center>{{ advert.pname }}</h1>
                <div padding>
                    <h2 text-center>${{ advert.price }}/{{ advert.billing_period}}</h2>
                </div>
            </ion-col>-->
        </ion-row> 
    </ion-grid>


</ion-content>